$primary-color: #579C87;
$secondary-color: #FDCB46;
$bg: #FCDFDB;
$bg1: #FFF5FE;
$bg2: #F9F9F9;
$bg3: #FDFFFD;
$box-shadowcolor : #b9b9b9;
$colortitle: #3C1218;
$colortitle1: #C77412;
$colortitle2: #0887FB;
$colortitle3: #72BF56;

$startermenu2: #C77412;
$dishmenu2: #A56799;
$dessertmenu2: #6E4CCC;

$black : black;